<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <section name="indexusNetSharedCache" type="SharedCache.WinServiceCommon.Configuration.Client.IndexusProviderSection, SharedCache.WinServiceCommon"/>
    <!--<section name="diskOutputCacheSettings" type="SharedCache.WinServiceCommon.HttpModule.DiskOutputCacheSettingsSection, SharedCache.WinServiceCommon" />-->
  </configSections>
  <!--<diskOutputCacheSettings>
    <cachedUrls>
      <add path="~/version.asmx" duration="00:05:00" varyBy="*"  />
    </cachedUrls>
  </diskOutputCacheSettings>-->
  <indexusNetSharedCache defaultProvider="IndexusSharedCacheProvider">
    <clientSetting SharedCacheVersionNumber="3.0.5.2" LoggingEnable="1" CompressionEnabled="0" CompressionMinSize="1024000" SocketPoolMinAvailableSize="5" HashingAlgorithm="Ketama"/>
    <!--
      Hashing (default - is useless if your envrionment is using different versions of CLR's)
      Ketama
      FvnHash32
      FvnHash64
    -->
    <servers>
      <add key="localhost" ipaddress="127.0.0.1" port="48888"/>
    </servers>
    <providers>
      <add name="IndexusSharedCacheProvider" type="SharedCache.WinServiceCommon.Provider.Cache.IndexusSharedCacheProvider, SharedCache.WinServiceCommon"/>
    </providers>
  </indexusNetSharedCache>
  <appSettings>
    <!--Version Number, same like in assemblies-->
    <add key="SharedCacheVersionNumber" value="3.0.5.2"/>
    <!--Should information be logged-->
    <add key="LoggingEnable" value="1"/>
    <add key="SmtpClientHost" value="smtp.gmail.com"/>
    <add key="SmtpClientPort" value="587"/>
    <add key="SmtpClientNetworkCredentialUsername" value="sharedcache@sharedcache.com"/>
    <add key="SmtpClientNetworkCredentialPwd" value="xxx"/>
    <add key="MailMessageSender" value="sharedcache@sharedcache.com"/>
    <add key="MailMessageFrom" value="sharedcache@sharedcache.com"/>
    <add key="MailMessageReceipt" value="sharedcache@sharedcache.com"/>
    <add key="MailMessageSubject" value="New Registation"/>
    <add key="FilePath" value="C:\SharedCache.com\"/>
    <add key="FileName" value="Registrations.xml"/>
  </appSettings>
  <nlog autoReload="true" throwExceptions="true">
    <targets async="true">
      <target name="shared_cache_webservice" type="File" layout="${longdate}|${level:uppercase=true}|${aspnet-request:item=logSession}|${message}" filename="D:\Logs\SharedCache_Version_Log\${date:format=yyyy-MM-dd}_shared_cache_WebService_log.txt"/>
    </targets>
    <rules>
      <logger name="General" minlevel="Debug" writeTo="shared_cache_webservice" final="true"/>
      <logger name="*" minlevel="Debug" writeTo="shared_cache_webservice"/>
      <logger name="*" minlevel="Info" writeTo="shared_cache_webservice"/>
    </rules>
  </nlog>
  <connectionStrings/>
  <system.web>
    <!--<webServices>
      <soapExtensionTypes>
        <add type="SharedCache.WinServiceCommon.Attributes.SharedCacheSoapExtension, SharedCache.WinServiceCommon" 
             priority="0" 
             group="High" />
      </soapExtensionTypes>
    </webServices>-->
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpModules>
      <add name="SharedCacheModule" type="SharedCache.WinServiceCommon.HttpModule.SharedCache, SharedCache.WinServiceCommon"/>
    </httpModules>
    <!--<httpHandlers>
      <add verb="supported http verbs" path="path" type="namespace.classname, assemblyname" />
    <httpHandlers>-->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>